

@model week_6.Models.csWebUser;

@section InsideHead {

    <title>Index</title>

    <style>
        body{
            padding-left:50px;
            padding-top:50px;
        }

        .field-validation-error {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .mail-form {
            line-height: 33px;
        }
    </style>
}

<input asp-for="a"


<br />


<label asp-for="FirstName"></label>
<input asp-for="FirstName" />
<br />
<label for="FirstName">First name:</label>
<input type="text" id="FirstName" />

<br />
<hr />

<form method="post" asp-controller="Home" asp-action="UpdateEntry">

    @Html.TextBox("text1")
    <br />
    @Html.TextBox("text2")
    <br />
    <input type="submit" value="try update" />
</form>

<hr />

@Html.TextBoxFor(model => model.FirstName)
<br />
@Html.TextBox("gg") @*creates a textbox named as gg id as gg*@
<br />
@Html.Editor("a")
<br />
@Html.TextAreaFor(model => model.MailAddress, new { @class = "mail-form", @style = "padding:5px;" })
<br />
<input asp-for="MailAddress" class="mail-form" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" />

<h1>Create user</h1>

<form method="post" asp-controller="Home" asp-action="Form1">
    <div>
        <label asp-for="FirstName"></label>
        <br />
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="LastName"></label>
        <br />
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="MailAddress"></label>
        <br />
        <input asp-for="MailAddress" />
        <span asp-validation-for="MailAddress" style="color: red;"></span>
    </div>
    <br />
    <input type="submit" value="Create" />
</form>

<hr />
<h2>form 2</h2>

<form method="post" asp-controller="Home" asp-action="Form2">
    <div>
        <label asp-for="FirstName"></label>
        <br />
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="LastName"></label>
        <br />
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="MailAddress"></label>
        <br />
        <input asp-for="MailAddress" value="@Model?.FirstName" />
        <span asp-validation-for="MailAddress" style="color: red;"></span>
    </div>
    <br />
    <input type="submit" value="Create" />
</form>