

@model week_6.Models.csWebUser;

@section InsideHead {

    <title>Index</title>

    <style>
        body {
            padding-left: 50px;
            padding-top: 50px;
        }

        .field-validation-error {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .mail-form {
            line-height: 33px;
        }
    </style>
}


<br />
<br />
<textarea asp-for="FirstName" cols="25" rows="3"></textarea>
<br />
<br />

<label asp-for="mySecondUser.Birthday"></label>
<input asp-for="mySecondUser.Birthday" />
<br />
<label asp-for="mySecondUser.IsActive"></label>
<input asp-for="mySecondUser.IsActive" />
<br />
<label asp-for="mySecondUser.MailAddress2"></label>
<input asp-for="mySecondUser.MailAddress2" />
<br />
<label asp-for="mySecondUser.Password"></label>
<input asp-for="mySecondUser.Password" />
<br />
<label asp-for="mySecondUser.PhoneNumber"></label>
<input asp-for="mySecondUser.PhoneNumber" id="myCustomPhone" />
<br />


<label asp-for="FirstName"></label>
<input asp-for="FirstName" />
<br />
<label for="FirstName">First name:</label>
<input type="text" id="FirstName" />

<br />
<hr />

<form method="post" asp-controller="Home" asp-action="UpdateEntry">

    @Html.TextBox("text1")
    <br />
    @Html.TextBox("text2")
    <br />
    <input type="submit" value="try update" />
</form>

<hr />

@Html.TextBoxFor(model => model.FirstName)
<br />
@Html.TextBox("gg") @*creates a textbox named as gg id as gg*@
<br />
@Html.Editor("a")
<br />
@Html.TextAreaFor(model => model.MailAddress, new { @class = "mail-form", @style = "padding:5px;" })
<br />
<input asp-for="MailAddress" class="mail-form" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" />

<h1>Create user</h1>

<form method="post" asp-controller="Home" asp-action="Form1">
    <div>
        <label asp-for="userCountry"></label>
        <select asp-items="@(new SelectList(Model.lstCountries))" asp-for="userCountry"></select>
    </div>
    <div>
        <label asp-for="FirstName"></label>
        <br />
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="LastName"></label>
        <br />
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="MailAddress"></label>
        <br />
        <input asp-for="MailAddress" />
        <span asp-validation-for="MailAddress" style="color: red;"></span>
    </div>
    <br />
    <input type="submit" value="Create" />
</form>

<hr />
<h2>form 2</h2>

<form method="post" asp-controller="Home" asp-action="Form2">
    <div>
        <label asp-for="userLanguageId"></label>
        <select asp-items="@(new SelectList(Model.lstLanguages,"Id","Name"))" asp-for="userLanguageId"></select>
    </div>
    <div>
        <label asp-for="FirstName"></label>
        <br />
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="LastName"></label>
        <br />
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="MailAddress"></label>
        <br />
        <input asp-for="MailAddress" value="@Model?.FirstName" />
        <span asp-validation-for="MailAddress" style="color: red;"></span>
    </div>
    <br />
    <input type="submit" value="Create" />
</form>

<script>

    $("#myCustomPhone").on("keyup paste", function () {
        // Remove invalid chars from the input
        var input = this.value.replace(/[^0-9\(\)\s\-]/g, "");
        var inputlen = input.length;
        // Get just the numbers in the input
        var numbers = this.value.replace(/\D/g, '');
        var numberslen = numbers.length;
        // Value to store the masked input
        var newval = "";

        // Loop through the existing numbers and apply the mask
        for (var i = 0; i < numberslen; i++) {
            if (i == 0) newval = "(" + numbers[i];
            else if (i == 3) newval += ") " + numbers[i];
            else if (i == 6) newval += "-" + numbers[i];
            else newval += numbers[i];
        }

        // Re-add the non-digit characters to the end of the input that the user entered and that match the mask.
        if (inputlen >= 1 && numberslen == 0 && input[0] == "(") newval = "(";
        else if (inputlen >= 6 && numberslen == 3 && input[4] == ")" && input[5] == " ") newval += ") ";
        else if (inputlen >= 5 && numberslen == 3 && input[4] == ")") newval += ")";
        else if (inputlen >= 6 && numberslen == 3 && input[5] == " ") newval += " ";
        else if (inputlen >= 10 && numberslen == 6 && input[9] == "-") newval += "-";

        $(this).val(newval.substring(0, 14));
    });


</script>