@model week_6.Models.TodoListViewModel
<!DOCTYPE html>


@{
    Layout = null;
}

<html>
<head>
    <title>TODO List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="margin: 20px;">

    <h1>TODO</h1>
    <table class="table table-striped table-bordered table-hover" style="max-width: 500px;">
        <tr>
            <td colspan="3">
                @using (var form = Html.BeginForm("CreateUpdate", "ToDoListItem", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.EditableItem.Id)
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.EditableItem.Title, new { @class = "form-control" })
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-success">@(Model.EditableItem.Id > 0 ? "Update" : "Add")</button>
                        </div>
                    </div>
                    @Html.ValidationSummary()
                }
            </td>
        </tr>
        @foreach (var item in Model.TodoItems)
        {
            <tr>
                <td>
                    <input type="checkbox" checked="@item.IsDone" onclick="window.location.href = '/ToDoListItem/ToggleIsDone/@item.Id';" />
                    <a href="/ToDoListItem/Edit/@item.Id">
                        @item.Title
                    </a>
                </td>
                <td class="text-right">
                    @item.AddDate.ToShortDateString()
                </td>
                <td class="text-center">
                    <a href="/ToDoListItem/Delete/@item.Id" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>