
@{
    Layout = null;
}

@model week_5.Models.CheckUser

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @using (var myForm = Html.BeginForm())
    {

        <input type="hidden" id="" value="1" name="hidden1" />


        <div>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
        <div>
            @Html.LabelFor(m => m.MailAddress)
            @Html.TextBoxFor(m => m.MailAddress)
            @Html.ValidationMessageFor(m => m.MailAddress)
        </div>

        <input type="submit" value="Submit" />
    }



    @using (var myForm = Html.BeginForm())
    {

        <input type="hidden" id="" value="2" name="hidden1" />

        <div>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
        <div>
            @Html.LabelFor(m => m.MailAddress)
            @Html.TextBoxFor(m => m.MailAddress)
            @Html.ValidationMessageFor(m => m.MailAddress)
        </div>

        <input type="submit" value="Submit2" />
    }

</body>
</html>
